<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div>
    <label>
      First Name:
      <input type="text" formControlName="firstName">
    </label>
  </div>
  <div>
    <label>
      Last Name:
      <input type="text" formControlName="lastName">
    </label>
  </div>
  <div formGroupName="address">
    <h3>Address</h3>
    <div>
      <label>
        Street:
        <input type="text" formControlName="street">
      </label>
    </div>
    <div>
      <label>
        City:
        <input type="text" formControlName="city">
      </label>
    </div>
    <div>
      <label>
        State:
        <input type="text" formControlName="state">
      </label>
    </div>
    <div>
      <label>
        Zip Code:
        <input type="text" formControlName="zip">
      </label>
    </div>
  </div>
  <button type="submit" [disabled]="!profileForm.valid">Submit</button>
</form>
